:root {
    --primary-color: #1a1a2e;
    --accent-color: #e94560;
    --shadow-color-accent: rgba(233, 69, 96, 0.3);
    --text-color: #ffffff;
    --secondary-text-color: #99a2ad;
    --card-background: #252a42;
    --hover-background: #313753;
    --main-bg: #131422;
    --input-background: #1c2033;
    --blue-highlight: #4dd0e1;
    --green-success: #69f0ae;
    --yellow-warning: #ffeb3b;
    --gray-inactive: #607d8b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

/* ------------------ SIDEBAR (ASIDE) ------------------ */

.sidebar {
    width: 250px;
    background-color: var(--card-background);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.logo {
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    color: var(--accent-color);
    margin-bottom: 30px;
    padding: 0 20px;
    letter-spacing: 1px;
    text-shadow: 0 0 5px var(----shadow-color-accent);
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.nav-menu li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s, border-left 0.2s;
    border-left: 5px solid transparent;
}

.nav-menu li a:hover {
    background-color: var(--hover-background);
    color: var(--text-color);
}

.nav-menu li a.active {
    background-color: var(--hover-background);
    color: var(--accent-color);
    border-left-color: var(--accent-color);
}

.nav-menu li a span {
    margin-right: 12px;
    font-size: 18px;
}

/* ------------------ MAIN CONTENT ------------------ */
.main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.dashboard-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
}

.user-info {
    color: var(--secondary-text-color);
    font-weight: 600;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

.info-card {
    background-color: var(--card-background);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.info-card:hover {
    transform: translateY(-5px);
    border-bottom: 3px solid var(--accent-color);
}

.card-title {
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    font-weight: 600;
}

.card-value {
    font-size: 36px;
    font-weight: 900;
    color: var(--text-color);
    line-height: 1;
}

.card-value-accent {
    color: var(--accent-color);
}

.card-value-blue {
    color: #4dd0e1;
}

/*cadastro de produto*/
.header-container {
    background-color: var(--card-background);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.header-container ul {
    list-style: none;
    display: flex;
}

.header-container ul li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s, border-left 0.2s;
    border-left: 5px solid transparent;
}

.header-container li a:hover {
    background-color: var(--hover-background);
    color: var(--text-color);
}

.form-card {
    background-color: var(--card-background);

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    transition: transform 0.3s ease;
}

.form-card form {
    padding: 20px;
}

.form-card:hover {
    transform: translateY(-3px);
}

.form-title {
    text-align: center;
    font-size: 32px;
    padding: 20px;
    font-weight: 900;
    color: var(--accent-color);
    text-shadow: 0 0 8px rgba(233, 69, 96, 0.6);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-text-color);
    text-align: left;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--input-background);
    border-radius: 8px;
    background-color: var(--input-background);
    color: var(--text-color);
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    resize: vertical;
}

/* 
.form-group input[type="number"] {
    -moz-appearance: textfield;
} */

.form-group input[type="number"]::-webkit-outer-spin-button,
.form-group input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 8px var(----shadow-color-accent);
}

.file-upload-wrapper {
    border: 2px dashed var(--accent-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: var(--input-background);
    transition: background-color 0.3s, border-color 0.3s;
}

.file-upload-wrapper:hover {
    background-color: #212438;
    border-color: var(--accent-color);
}

.file-upload-wrapper input[type="file"] {
    display: none;
}

.file-upload-label {
    display: block;
    color: var(--accent-color);
    font-weight: 600;
}

.file-upload-icon {
    font-size: 30px;
    margin-bottom: 5px;
    color: var(--secondary-text-color);
}

.file-name {
    font-size: 12px;
    color: var(--secondary-text-color);
    margin-top: 5px;
    display: block;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin-top: 30px;
    box-shadow: 0 4px 10px rgba(233, 69, 96, 0.3);
}

.submit-button:hover {
    background-color: #d8314e;
    transform: translateY(-2px);
}

/*----------------------- cadastro de produto ----------------------*/
.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
    min-width: 0;
}

.form-row .form-group.w-full {
    flex: 100%;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--input-background);
    border-radius: 8px;
    background-color: var(--input-background);
    color: var(--text-color);
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.form-group input:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 8px var(----shadow-color-accent);
}

.password-section {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

/*------------------------ cadastro cliente ----------------------------*/

/*------------------------ Relatorio de produtos -----------------------*/
.container {
    background-color: var(--card-background);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.report-title {
    font-size: 32px;
    font-weight: 900;
    color: var(--accent-color);
    text-shadow: 0 0 8px var(--shadow-color-accent);
    margin: 0;
}

.action-button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 3px 10px rgba(233, 69, 96, 0.3);
    text-decoration: none;
    display: inline-block;
}

.action-button:hover {
    background-color: #d8314e;
    transform: translateY(-1px);
}

.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filter-group {
    flex: 1;
    min-width: 180px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    color: var(--secondary-text-color);
}

.filters input,
.filters select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-background);
    border-radius: 6px;
    background-color: var(--input-background);
    color: var(--text-color);
    font-size: 15px;
    box-sizing: border-box;
}

.filters select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%2399a2ad"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;

}

.product-table th,
.product-table td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.product-table th {
    color: var(--secondary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #2c324b;
}

.product-table tbody tr:hover {
    background-color: #313853;
}

.status-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.status-badge.in-stock {
    background-color: var(--green-success);
    color: var(--card-background);
}

.status-badge.low-stock {
    background-color: var(--blue-highlight);
    color: var(--card-background);
}

.status-badge.out-of-stock {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.price {
    color: var(--accent-color);
    font-weight: 700;
}

/*------------------------ Relatorio de produtos -----------------------*/


/*------------------------ relatorio de clientes -----------------------*/
.client-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;

}

.client-table th,
.client-table td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.client-table th {
    color: var(--secondary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #2c324b;
}

.client-table tbody tr:hover {
    background-color: #313853;
}

.status-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.status-badge.active {
    background-color: var(--green-success);
    color: var(--card-background);
}

.status-badge.inactive {
    background-color: var(--yellow-warning);
    color: var(--card-background);
}

.status-badge.lead {
    background-color: var(--purple-highlight);
    color: var(--text-color);
}

.purchase-value {
    color: var(--accent-color);
    font-weight: 700;
}

/*---------------------- relatorio de clientes ----------------------*/


/*--------------------- relatorio de colaborador---------------------*/
.staff-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;

}

.staff-table th,
.staff-table td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.staff-table th {
    color: var(--secondary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #2c324b;
}

.staff-table tbody tr:hover {
    background-color: #313853;
}

.status-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.status-badge.active {
    background-color: var(--green-success);
    color: var(--card-background);
}

.status-badge.on-leave {
    background-color: var(--yellow-warning);
    color: var(--card-background);
}

.status-badge.inactive {
    background-color: var(--gray-inactive);
    color: var(--text-color);
}

.role {
    color: var(--blue-highlight);
    font-weight: 700;
}

/*----------------- relatorio de colaborador* --------------/

/*----------------- Pedidos --------------*/
/*Novo Pedido*/
/* Tabela de Produtos */
.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

.products-table th,
.products-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.products-table th {
    color: var(--secondary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #2c324b;
}

.products-table tbody tr:hover {
    background-color: #313853;
}

.products-table td:last-child {
    text-align: center;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 14px;
    transition: color 0.2s;
}

.remove-btn:hover {
    color: #ff7f96;
}

/* Totais */
.container .card .totals-summary {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid rgba(77, 208, 225, 0.2);
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.container .card .totals-summary div {
    margin-bottom: 5px;
}

.container .card .totals-summary span {
    display: inline-block;
    min-width: 120px;
    text-align: right;
    color: var(--blue-highlight);
}

.total-final span {
    color: var(--accent-color);
    font-size: 24px;
}

/* Seção de Adicionar Produto */
.product-add-section {
    background-color: #1e2439;
    /* Fundo ligeiramente diferente */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgba(77, 208, 225, 0.1);
}

.product-add-section .form-row {
    align-items: flex-end;
}

/* Botões */
.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-confirm {
    background-color: var(--accent-color);
    color: var(--text-color);
    box-shadow: 0 3px 10px rgba(233, 69, 96, 0.4);
}

.btn-confirm:hover {
    background-color: #d8314e;
    transform: translateY(-1px);
}

.btn-cancel {
    background-color: var(--secondary-text-color);
    color: var(--card-background);
}

.btn-cancel:hover {
    background-color: #7d848e;
    transform: translateY(-1px);
}

.btn-add-product {
    background-color: var(--blue-highlight);
    color: var(--card-background);
    box-shadow: 0 3px 10px rgba(77, 208, 225, 0.4);
    flex-shrink: 0;
    height: 44px;
    /* Alinha com os inputs */
    display: flex;
    align-items: center;
}

.btn-add-product:hover {
    background-color: #31c4d8;
}

.action-buttons-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* Tabela de Produtos */
.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

.products-table th,
.products-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.products-table th {
    color: var(--secondary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #2c324b;
}

.products-table tbody tr:hover {
    background-color: #313853;
}

.products-table td:last-child {
    text-align: center;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 14px;
    transition: color 0.2s;
}

.remove-btn:hover {
    color: #ff7f96;
}


/*Atualizar pedido*/
/* Área de Filtros/Ações */
.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    gap: 15px;
}

.filter-group {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    max-width: 600px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: var(--input-background);
    color: var(--text-color);
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;
}

input[type="text"]:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 8px var(--accent-color);
    outline: none;
}

.btn-new {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--blue-highlight);
    color: var(--card-background);
    box-shadow: 0 3px 10px rgba(77, 208, 225, 0.4);
    flex-shrink: 0;
}

.btn-new:hover {
    background-color: #31c4d8;
}

/* Estilo da Tabela */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 15px;
}

.data-table th,
.data-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.data-table th {
    color: var(--secondary-text-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #2c324b;
}

.data-table tbody tr:hover {
    background-color: #313853;
}

/* Destaque de Status/Valor */
.status-badge {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
}

.status-pending {
    background-color: rgba(255, 193, 7, 0.2);
    /* Amarelo translúcido */
    color: #ffc107;
    /* Amarelo */
}

.total-value {
    font-weight: 700;
    color: var(--green-success);
}

/* Botões de Ação na Tabela */
.action-button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0 5px;
}

.btn-confirm {
    background-color: var(--green-success);
    color: var(--primary-color);
}

.btn-confirm:hover {
    background-color: #4cd39b;
}

.btn-cancel {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.btn-cancel:hover {
    background-color: #d8314e;
}

/*----------------- Pedidos --------------*/

/* ------------------ Error Page ------------------ */
.error-container {
    background-color: var(--card-background);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.error-container:hover {
    transform: translateY(-5px);
}

.error-code {
    font-size: 150px;
    font-weight: 900;
    color: var(--accent-color);
    margin: 0;
    line-height: 1;
    text-shadow: 0 5px 15px var(--shadow-color-accent);
}

.error-title {
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0 10px 0;
    color: var(--text-color);
}

.error-message {
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    line-height: 1.5;
}

.home-button {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 10px rgba(233, 69, 96, 0.3);
}

.home-button:hover {
    background-color: #d8314e;
    transform: translateY(-2px);
}

/* ------------------ Error Page ------------------ */


/* ------------------ Responsividade ------------------ */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }

    .logo {
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-menu li {
        width: 50%;
    }

    .nav-menu li a {
        border-left: none;
        border-bottom: 3px solid transparent;
        padding: 10px 15px;
        justify-content: center;
        text-align: center;
    }

    .nav-menu li a span {
        display: none;
    }

    .nav-menu li a.active {
        border-left-color: transparent;
        border-bottom-color: var(--accent-color);
    }

    .main-content {
        padding: 20px;
    }

    .header-main {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .dashboard-title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    /*cadastro cliente*/

    .form-title {
        font-size: 28px;
    }

    .form-row {
        flex-direction: column;
        gap: 0;
    }

    /*cadastro cliente*/


    /*Relatorio de produtos*/
    .container {
        padding: 20px;
    }

    .report-header {
        flex-direction: column;

    }

    .report-title {
        font-size: 24px;
    }

    .product-table thead {
        display: none;
    }

    .product-table,
    .product-table tbody,
    .product-table tr,
    .product-table td {
        display: block;
        width: 100%;
    }

    .client-table,
    .client-table tbody,
    .client-table tr,
    .client-table td {
        display: block;
        width: 100%;
    }

    .staff-table,
    .staff-table tbody,
    .staff-table tr,
    .staff-table td {
        display: block;
        width: 100%;
    }

    .product-table tr,
    .client-table tr,
    .staff-table tr {
        margin-bottom: 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .product-table td,
    .client-table td,
    .staff-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .product-table td::before,
    .client-table td::before,
    .staff-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: 700;
        color: var(--secondary-text-color);
    }

    .product-table tr:hover,
    .client-table tr:hover,
    .staff-table tr:hover {
        background-color: var(--card-background);
    }

    .product-table td:last-child,
    .client-table td:last-child,
    .staff-table td:last-child {
        border-bottom: none;
    }

    .filters {
        flex-direction: column;
        gap: 15px;
    }

    /*relatorio de produtos*/

}

@media (max-width: 650px) {
    .form-title {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .error-code {
        font-size: 100px;
    }

    .error-title {
        font-size: 22px;
    }

    .error-container {
        padding: 30px;
    }
}